@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bingdi Zhou</h1>
    <h2>A01304137</h2>
    <p>When I graduate I want to be a software developer.</p>
</div>
